.taskContainer{
    width: 750px;
    padding: 40px;
    display: flex;
    align-self: center;
    flex-flow: column nowrap;
    align-items: center;
    font-family: Verdana;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.header {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.topHeaderContainer {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.userName {
    font-size: 22px;
}
.goOut {
    width: 110px;
    height: 40px;
    background-color: #ff3c6c;
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
}
.goOut:hover {
    background-color: #ff245c;
}
.filterBtnContainer {
    display: flex;
    padding: 15px;
}
.filterBtn {
    margin: 1px;
    width: 100px;
    height: 40px;
    background-color: #5f7b8a;
    border: none;
    color: white;
    cursor: pointer;
}
.table {
    display: flex;
}
.taskListTitle {
    font-weight: bold;
}
.taskList{
    list-style: none;
    padding: 0;
    margin: 25px;
}
.task {
    margin-top: 20px;
    font-size: 14px;
    color: slategrey;
    cursor: pointer;
}
.task:hover {
    color: #212121;
}
.taskDone {
    margin-top: 20px;
    font-size: 14px;
    color: #34cc4b;
    cursor: pointer;
}
.taskDone:hover {
    color: #159d13;
}

.btnTaskListContainer {
    width: 600px;
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.btnSortStatus {
    margin: 1px;
    width: 110px;
    height: 40px;
    background-color: #66b445;
    border: none;
    color: white;
    cursor: pointer;
}
.btnSortStatus:hover {
    background-color: #31a420;
}
.btnSortDates {
    margin: 1px;
    width: 100px;
    height: 40px;
    background-color: #40cfa7;
    border: none;
    color: white;
    cursor: pointer;
}
.btnSortDates:hover {
    background-color: #3cb08a;
}
.btnSortImportance {
    margin: 1px;
    width: 100px;
    height: 40px;
    background-color: #b0b0b0;
    border: none;
    color: white;
    cursor: pointer;
}
.btnSortImportance:hover {
    background-color: #6a6a6a;
}
.btnSortByPerformed {
    margin: 1px;
    width: 100px;
    height: 45px;
    background-color: #acacac;
    border: none;
    color: white;
    cursor: pointer;
}
.btnSortByPerformed:hover {
    background-color: #7b7b7b;
}
.btnSwitchView {
    margin: 1px;
    width: 100px;
    height: 40px;
    background-color: #6ed1ff;
    border: none;
    color: white;
    cursor: pointer;
}
.btnSwitchView:hover{
    background-color: #46bcff;
}
.btnToScrumTable {
    margin: 1px;
    width: 100px;
    height: 40px;
    background-color: #b16dff;
    border: none;
    color: white;
    cursor: pointer;
}
.btnToScrumTable:hover{
    background-color: #904cff;
}
.taskDetailsPageContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.detailTask {
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    list-style: none;
    text-align: left;

}
.detailTask > li {
    margin: 8px;
}
.taskDefaultText{
    font-size: 16px;
    color: #7b7b7b;
}
.TaskTitle {
    font-size: 22px;
    font-weight: bold;
    color: #212121;
}
.low {
    color: #767676;
    font-weight: bold;
}
.high {
    color: #ff493b;
    font-weight: bold;
}
.done {
    color: #35b449;
    font-weight: bold;
}
.performed {
    color: #444444;
    font-weight: bold;
}
.goBack {
    width: 120px;
    height: 40px;
    background-color: #49DCB1;
    border: none;
    color: white;
    cursor: pointer;
}
.goBack:hover {
    background-color: #40cfa7;
}

.scrumTableContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.cardContainer{
    display: flex;
    flex-flow: row;
}
.Card {
    border: 1px solid #6a6a6a;
    padding: 25px;
    margin: 15px;

}
.scrumTaskContainer {
    padding: 0;
    margin: 0;
}
.scrumListContainer {
    list-style: none;
}

.scrumTaskDone {
    padding: 5px;
    color: #31a420;
    border: 1px solid #b0b0b0;
}
.scrumTaskPerformed {
    padding: 5px;
    border: 1px solid #b0b0b0;
}
.addTaskContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.addTaskForm {

}
.btnTaskForm {
    width: 120px;
    height: 20px;
    margin: 15px;
    background-color: #444444;
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .taskContainer{
        width: inherit;
        padding: 30px 10px 30px 10px;
    }
    .table {
        font-size: 12px;
    }
    .taskList > li {
        font-size: 10px;
        margin: 15px;
    }

}